<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseAppID</key>
	<string>tTMrjreYSpOUgIkMslJHJc1slcbY5g4yZvl9DRyw</string>
	<key>ParseAPIKey</key>
	<string>Ece7hzKGE9UNLLgqLQ122dVxTxqFdZ0fLYtQ7CZ1</string>
</dict>
</plist>
